.first_header{
    display: flex;
}
.a{
    display: grid;
    grid-template-columns: 20% 60% 10% 10%; 
    border: 10px solid #1A1A1A ; 
   
}
#div1{
    background-color:#1A1A1A ; 

}
.search-button{
    width: 20px;
    height: 20px;
    
    color: black;
    border-radius: 100%;
    cursor: pointer;
}
.search-container{
    background-color: #1A1A1A ;  ; 
   

}
.search-button-container{
    width: 30px;
    height: 30px;
    /* background-color: #FFD700; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    margin-top:-6px ;
}
.search-container input{
    width: 100%;
    background-color: transparent;
    outline:transparent;    
    
   
}
.cart-button{
    width: 40px;
    height: 40px;
    margin-left: 50px;
}
.login-button{
    width: 40px;
    height: 40px;
    margin-left: 75px;

}

.fl{
    display: flex;
      justify-content: space-evenly;
      font-size: 18px;
      padding: 10px 20px;
      margin-top: 10px;
      border-radius: 25px;
      border: none;
      height: 37px;
      box-shadow: 0px 2px 5px (0,0,0,0.2) ;
      background-color: white;
    }



#div3{
    background-color: #1A1A1A ; 
    text-align: end;
    font-size: 15px;
    color: #FFD700 ; 
    width: 100%;
    height: 100%;
    transition: border 0.3s ease-in-out;
    
}
/* #div3:hover{
    cursor: pointer;
    border: 1px solid white;
} */

#div4{
    background-color: #1A1A1A ; 
    font-size: 15px;
    text-align: center;
    color: #ffd700 ; 
    transition: border 0.3s ease-in-out;
}
/* #div4:hover{
    cursor: pointer;
    border: 1px solid white;
} */

.second_header{
    background-color: #1A1A1A ; 
}

.second_header{
    display: flex;
}

.list ul{
    list-style-type: none;
    display: flex;
    gap: 15px ; 
    color: white;
}
.list li{
    cursor: pointer;
    background-color: #4b4b4b;
    border-radius: 20px;
    border: none;
    color:#FFD700 ; 
    box-shadow: 0px 2px 5px (0,0,0,0.2) ;
    padding: 8px 16px;
    text-align: center;
    font-weight: 600;
}

.Promo{
    background-color: lightgray;
    text-align: center;
    color : #1A1A1A ;
    padding-top: 10px;
    padding-bottom: 10px;
}

#rayon {
    color: white; 
    background-color: #1A1A1A ; 
    border: 1px solid white; 
    display: flex;
    gap: 2px;
    justify-content: center;
    align-items: center;
}
#rayon:hover {
    color: black; 
    background-color: white ; 
    
}
.popup{
    height: 100%;
    width: 23%;
    background: white;
    position: absolute;
    top:0;
    display: grid;
    grid-auto-rows: 10%; 
}
.first-header-popup{
    font-size: 20px;
    font-weight:bold;
    display: flex;
    justify-content: space-between;
    padding: 25px;
    border-bottom:1px solid #cbcbcb;
    background-color: black;
    color:white;
}
.promo-img{
    width: 35px;
    height: 35px;
    /* padding: 25px; */
}
.second-header-popup{
    display: flex;
    padding: 20px;
    gap:20px;
    font-size: 15px;
    cursor: pointer;
    border-bottom:1px solid #cbcbcb;
}
.delete-button{
    cursor: pointer;
}
.second-header-popup:hover{
    font-weight: bold;
}
.second-header-popup:hover img {
    transform: scale(1.5); /* Makes the image 20% bigger */
    transition: transform 0.3s ease-in-out; /* Smooth animation */
}