
.slide-container{
    margin-left: 12%;
    margin-right: 12%;
    margin-top: 2%;
}
.slide-list{
    display: grid;
    grid-template-columns: 24% 24% 24% 24%;
    gap: 15px; 
}
.slide img{
    margin-bottom: 2%;
    border-radius: 15px;
}
.slide-list span{
        cursor: pointer;
        background-color: lightgray;
        border-radius: 8px;
        border: none; 
        padding: 10px 75px;
        text-align: center;
        font-weight: 600;
        color: #1A1A1A;
    }
#chicha1{
    display: flex;
   font-size: 15px;
   gap: 4px;
   justify-content: center;
   align-items: center;
   height: 100%;

}
#chicha2{
    display: flex;
   font-size: 15px;
   gap: 4px;
   justify-content: center;
   align-items: center;
   height: 100%;

}
#chicha3{
    display: flex;
   font-size: 15px;
   gap: 4px;
   justify-content: center;
   align-items: center;
   height: 100%;

}
#chicha4{
    display: flex;
   font-size: 15px;
   gap: 4px;
   justify-content: center;
   align-items: center;
   height: 100%;

}


.box-container {
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    gap: 2% 2%;
    padding: 20px;
}

.box {
    background-color: white;
    color: white;
    border: 1px solid #1A1A1A;
    padding: 10% ;
    border-radius: 16px;
    text-align: center;
    flex: 1;
    
}
.all{
    background-color: whitesmoke;
}
.paiement{   
     height: 30px;
    width: 30px;
}
.livraison{   
     height: 30px;
    width: 30px;
}
.e-commerce{   
     height: 30px;
    width: 30px;
}
.prix{   
     height: 20px;
    width: 20px;
}

